.billing-page h5,
.billing-page p,
.billing-page label,
.billing-page td,
.billing-page th,
.billing-page a,
.billing-page span,
.billing-page input::placeholder,
.billing-page textarea::placeholder {
    color: #fff !important;
}


.billing-page .card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.billing-page .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #244441be;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}

.billing-page .activity-checkout {
    list-style: none
}

.billing-page .activity-checkout .checkout-icon {
    position: absolute;
    top: -4px;
    left: -24px
}

.billing-page .activity-checkout .checkout-item {
    position: relative;
    padding-bottom: 24px;
    padding-left: 35px;
    border-left: 2px solid #f5f6f8
}

/* .billing-page .activity-checkout .checkout-item:first-child {
    border-color: #3b76e1
}

.billing-page .activity-checkout .checkout-item:first-child:after {
    background-color: #3b76e1
} */

.table {
    --bs-table-bg: transparent !important;
    --bs-table-border-color: #3b706bbe !important;
}

.billing-page .activity-checkout .checkout-item:last-child {
    border-color: transparent
}

.billing-page .activity-checkout .checkout-item.crypto-activity {
    margin-left: 50px
}

.billing-page .activity-checkout .checkout-item .crypto-date {
    position: absolute;
    top: 3px;
    left: -65px
}



.billing-page .avatar-xs {
    height: 1rem;
    width: 1rem
}

.billing-page .avatar-sm {
    height: 2rem;
    width: 2rem
}

.billing-page .avatar {
    height: 3rem;
    width: 3rem
}

.billing-page .avatar-md {
    height: 4rem;
    width: 4rem
}

.billing-page .avatar-lg {
    height: 5rem;
    width: 5rem
}

.billing-page .avatar-xl {
    height: 6rem;
    width: 6rem
}

.billing-page .avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

.billing-page .avatar-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 8px
}

.billing-page .avatar-group .avatar-group-item {
    margin-left: -8px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s
}

.billing-page .avatar-group .avatar-group-item:hover {
    position: relative;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.billing-page .card-radio {
    background-color: #244441be;
    border: 2px solid #eff0f2;
    border-radius: .75rem;
    padding: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block
}

.billing-page .card-radio:hover {
    cursor: pointer
}

.billing-page .card-radio-label {
    display: block
}

.billing-page .edit-btn {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 25px;
    margin-top: -50px
}

.billing-page .activity-checkout .transportation-select {
    border-color: #3b76e1
}

.billing-page .activity-checkout .transportation-select:after {
    background-color: #3b76e1
}

.billing-page .card-radio-input {
    display: none;
    border-color: #3b76e1 !important
}

.billing-page .card-radio.cash {
    border-color: #3b76e1 !important
}




.billing-page .font-size-16 {
    font-size: 16px !important;
}

.billing-page .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.billing-page a {
    text-decoration: none !important;
}


.billing-page .form-control {
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #545965;
    background-color: #244441be;
    background-clip: padding-box;
    border: 1px solid #e2e5e8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.75rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.billing-page .edit-btn {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 25px;
    margin-top: -50px;
}

.billing-page .ribbon {
    position: absolute;
    right: -26px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 1px 22px;
    font-size: 13px;
    font-weight: 500
}