:root {
  --color-bg-1: #1d3133;
  --color-white: #fff;
  --yellow: #f7c35f;
  --color-bg-secondary: rgba(217, 217, 217, .1);
  --color-bg-3: #4b6139;
  --color-bg-2: #344c31;
  --color-black: black;
  --color-bg-4: #244441;
  --color-bg-5: #244441be;
  --color-bg-6: rgba(217, 217, 217, .1);
}



.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.farmer-dashboard {
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-bg-1);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  width: 100%;
}

.fd-main-part {
  width: 100%;
}

.fd-container {
  max-width: 94% !important;
}

/* .fd-container.nav-container {
  padding-left: 80px;
  padding-right: 60px;
} */

.fd-nav-heading-h1 {
  color: var(--color-white);
  font-size: 35px;
  margin: 0;
}

.fd-nav-icon-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.fd-nav-icon-list-item {
  padding: 6px 10px;
}

.fd-nav-icon-list-item:hover {
  background-color: transparent;
}

.fd-nav-flex-box {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.fd-nav-icon {
  color: var(--color-white);
}



.body {
  height: auto;
}

.frmr-profile-part {
  height: auto;
  color: var(--color-white);
  border: 0 solid #000;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  position: relative;
}

.frmr-profile-img {
  z-index: auto;
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  object-fit: cover;
  position: relative;
}

.frmr-profile-img-wrapper {
  z-index: 100;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.frmr-name-h4 {
  color: var(--yellow);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gothicb, sans-serif;
}

.frmr-title-p {
  color: var(--color-white);
  font-family: Century Gothic, sans-serif;
  font-weight: 400;
}

.farmer-info-box {
  min-width: 250px;
  background-color: var(--color-bg-secondary);
  flex-direction: column;
  align-items: center;
  font-family: Gothicb, sans-serif;
  font-weight: 700;
  display: flex;
  position: relative;
  top: -79px;
}

.frmr-name-tag {
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  display: flex;
}

.frmr-profile-info-list {
  padding-left: 0;
  list-style-type: none;
}

.frmr-profile-info-item-title-h3 {
  color: var(--yellow);
}

.text-span-2 {
  margin-right: 15px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 20px;
}

.frmr-profile-info-item-data-p {
  max-width: 180px;
  margin-left: 29px;
  font-family: Century Gothic, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block;
  /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}



.frmr-profile-info-item-wrapper {
  color: var(--color-white);
}

.list-item {
  margin-bottom: 20px;
}

.frmr-profile-info-list-item {
  margin-bottom: 20px;
  list-style-type: none;
}

.list-item-3,
.list-item-4 {
  margin-bottom: 20px;
}

.frmr-other-part {
  width: calc(100% - 4vw);
  /* width: 100%; */
  color: var(--color-white);
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: Century Gothic, sans-serif;
  font-weight: 400;
}

.fpd-tab-link {
  max-width: none;
  border-right: 0px none var(--color-bg-1);
  color: var(--color-white);
  text-align: center;
  overflow-wrap: normal;
  cursor: pointer;
  padding: 10px 20px;
  font-family: Century Gothic, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  display: block;
}

.fpd-tab-link.active {
  color: var(--yellow) !important;
  background-color: rgba(255, 255, 255, .1);
}

.fpd-tab-link.t-active {
  color: var(--yellow) !important;
  background-color: #5d7747;
}

.frmr-tab-link-container {
  width: 100%;
  background-color: rgba(217, 217, 217, .1);
}

.buy-products .frmr-tab-link-container {
  width: 100%;
  background-color: #28504bbe;
}

.frmr-tab-link-wrapper {
  border-right: 1px solid var(--color-bg-1);
  background-color: rgba(255, 255, 255, 0);
}

.frmr-profile-style-icon {
  z-index: 10;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -10%;
  bottom: auto;
  left: auto;
  right: -10%;
}

.frmr-profile-img-style {
  position: relative;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.frmr-business-analytics {
  margin-top: 20px;
}

.text-span-3 {
  font-family: "Fa Solid 900", sans-serif;
}

.frmr-total-expences {
  background-color: var(--color-bg-3);
  border-radius: 10px;
  padding: 20px;
}

.frmr-total-calc-icons {
  padding-right: 20px;
}

.frmr-total-calc-flex {
  justify-content: center;
  align-items: center;
}

.frmr-total-calc-h4 {
  font-family: Livvic, sans-serif;
  font-size: 15px;
  color: var(--yellow) !important;
}

.frmr-total-calc-h5 {
  font-family: Gothicb, sans-serif;
  font-weight: 700;
  color: #e6e6e6;
}

.business_analytics {
  color: #FFF;
}

.frmr-total-calculations {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-top: 40px;
  display: flex;
}

.frmr-total-stocked,
.frmr-total-sales,
.total-revenue {
  background-color: var(--color-bg-3);
  border-radius: 10px;
  padding: 20px;
}

.total-expences-copy {
  background-color: var(--color-bg-2);
  border-radius: 10px;
  padding: 20px;
}

.fp-project-container {
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin: 40px 0;
  display: grid;
  width: min-content;
  padding-bottom: 40px;
}

.f-project-card {
  background-color: var(--color-bg-2);
  cursor: pointer;
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: 4px 6px 20px -5px rgba(0, 0, 0, .2);
}

.fp-card-heading {
  max-width: none;
  color: var(--yellow);
  overflow-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: Gothicb, sans-serif;
  font-size: 30px;
}

.frmr-project-detail-main {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-1);
}

.fpd-cover-img-box {
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.fp-card-bottom {
  padding-bottom: 10px;
  padding-left: 20px;
}

.fp-card-cover-img-wrapper {
  mix-blend-mode: normal;
  border-radius: 20px;
  overflow: hidden;
  min-height: 200px;
  min-width: 300px;
  max-height: 200px;
  max-width: 300px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .2);
}

.farmer-dashboard-flex {
  height: 100%;
  min-height: auto;
}

.fd-header {
  width: 100%;
}

.fd-nav-container {
  max-width: calc(94% - 0px) !important;
  padding-left: 30px;
  padding-right: 30px;
}

.frmr-projects-box {
  margin-top: 40px;
}

.frmr-projects-tabs {
  width: calc(100% - 0px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  justify-content: space-between;
  padding: 8px 10px;
}

.frmr-project-tab-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.frmr-porject-tab-item {
  background-color: var(--color-bg-2);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Century Gothic, sans-serif;
  font-style: normal;
  text-decoration: none;
}

.frmr-porject-tab-item.active {
  background-color: var(--color-bg-3);
  color: var(--yellow);
  cursor: pointer;
  font-size: 14px;
}

.frmr-project-create-btn {
  background-color: var(--yellow);
  color: var(--color-black);
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  display: flex;
}

.frmr-project-create-plus-icon {
  margin-left: 0;
  margin-right: 0;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 22px;
}

.fp-project-tag {
  margin-left: 3px;
}

.frmr-logout-wrapper {
  align-self: flex-start;
  margin-left: 30px;
}

.text-block-2,
.text-block-3 {
  font-size: 18px;
}

.frmr-logout-btn {
  background-color: var(--color-bg-3);
  color: var(--color-black);
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 8px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
}

.frmr-logout-btn-icon {
  font-family: "Fa Solid 900", sans-serif;
}

.image {
  width: 100%;
  height: 100%;
  max-width: none;
  filter: brightness(95%);
  object-fit: cover;
}

.fpd-project-detail-heading {
  color: var(--yellow);
  font-size: 45px;
  font-family: 'Gothicb';
  font-weight: 700;
}

.fpd-bi-flex {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--color-bg-4);
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 10px;
}



.fpd-bi-info-item {
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  align-items: center;
  padding: 5px;
  display: flex;
  margin-left: 80px;
  gap: 30px;
}

.fpd-bi-divider {
  width: 1px;
  height: 35px;
  margin: 0 5px;
  background-color: var(--color-bg-3);
}

.fpd-bi-item-h4 {
  color: var(--yellow);
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 0;
}

.fpd-bi-item-value {
  color: var(--color-white);
}

.image-2 {
  height: 50px;
}

.fpd-total-calculations {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-top: 30px;
  margin-bottom: 40px !important;
  display: flex;
}

.fpd-calc-item {
  background-color: var(--color-bg-3);
  border-radius: 10px;
  padding: 20px 30px;
}

.fpd-total-calc-flex {
  justify-content: center !important;
  align-items: center !important;
}

.fpd-total-calc-icons {
  padding-right: 10px;
  width: 55px;
}

.fpd-total-calc-h4 {
  color: var(--yellow) !important;
  font-size: 14px;
  font-family: Gothicb, sans-serif;
}

.fpd-total-calc-h5 {
  font-size: 18px;
  color: var(--color-white);
  font-family: Gothicb, sans-serif;
  font-weight: 700;
}

.fpd-total-calc-h5-span {
  font-family: "Fa Solid 900", sans-serif;
}

.fpd-tab-link-container {
  width: 100%;
  background-color: rgba(217, 217, 217, .1);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fpd-tab-link-wrapper {
  border-right: 1px solid var(--color-bg-1);
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 1280px) {
  .fd-container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .fd-container.nav-container {
    max-width: 100%;
    padding-left: 80px;
    padding-right: 60px;
  }

  .fd-nav-icon-list {
    flex: 0 auto;
    padding-left: 20px;
    list-style-type: none;
    display: flex;
  }

  .fd-nav-flex-box {
    justify-content: space-between;
  }

  .body {
    color: var(--color-bg-1);
  }

  .frmr-profile-part {
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .frmr-profile-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    aspect-ratio: auto;
    mix-blend-mode: normal;
    object-fit: cover;
    border-radius: 0%;
  }

  .frmr-profile-img-wrapper {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 50%;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  .frmr-name-h4 {
    color: var(--yellow);
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gothicb, sans-serif;
  }

  .tag {
    color: var(--color-white);
    margin-top: 84px;
  }

  .frmr-title-p {
    color: var(--color-white);
  }

  .farmer-info-box {
    width: auto;
    min-width: 250px;
    background-color: rgba(217, 217, 217, .1);
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    top: -79px;
  }

  .frmr-name-tag {
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    display: flex;
  }

  .frmr-profile-info-list {
    aspect-ratio: auto;
    margin-bottom: 20px;
    padding-left: 0;
    font-family: Century Gothic, sans-serif;
    list-style-type: none;
  }

  .frmr-profile-info-item-title-h3 {
    color: var(--yellow);
    font-family: Gothicb, sans-serif;
  }

  .text-span-2 {
    margin-right: 15px;
    font-family: "Fa Solid 900", sans-serif;
    font-size: 20px;
  }

  .frmr-profile-info-item-data-p {
    max-width: 150px;
    color: var(--color-white);
    overflow-wrap: normal;
    margin-left: 29px;
    font-family: Century Gothic, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .frmr-profile-infos {
    margin-top: 20px;
  }

  .phone-copy {
    display: block;
  }

  .list-item {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .frmr-profile-info-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-item-3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .list-item-4 {
    margin-top: 20px;
  }

  .fpd-tab-link {
    font-family: Gothicb, sans-serif;
    font-weight: 700;
    transition: all 0.2s;
  }



  .frmr-profile-style-icon {
    overflow: visible;
  }

  .frmr-total-calc-h4 {
    color: var(--yellow);
  }

  .f-project-card {
    border-radius: 15px;
  }

  .fp-card-heading {
    margin-bottom: 3px;
    font-size: 30px;
  }

  .fpd-cover-img-wrapper {
    overflow: hidden;
  }

  .fp-card-cover-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    object-position: 50% 50%;
  }

  .fp-card-cover-img-wrapper {
    width: auto;
    height: auto;
  }

  .fp-project-tag {
    margin-left: 3px;
    font-size: 14px;
  }

  .frmr-logout-wrapper {
    align-self: flex-start;
    margin-left: 30px;
  }

  .text-block {
    font-size: 18px;
  }

  .frmr-logout-btn {
    background-color: var(--color-bg-3);
    color: var(--color-black);
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .fpd-project-detail-heading {
    color: var(--color-white);
  }

  .fpd-bi-flex {
    background-color: var(--color-bg-4);
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
  }

  .fpd-bi-info-item {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
  }

  .fpd-bi-divider {
    width: 1px;
    height: 35px;
    background-color: var(--color-bg-3);
    padding-bottom: 0;
    padding-right: 0;
  }

  .fpd-bi-item-h4 {
    color: var(--yellow);
    margin-top: 0;
    margin-bottom: 0;
  }

  .fpd-bi-item-value {
    color: var(--color-white);
  }

  .image-2 {
    height: 50px;
  }

  .fpd-total-calc-h4 {
    color: var(--yellow);
  }
}

@media screen and (min-width: 1440px) {

  .fd-container,
  .fd-container.nav-container {
    max-width: 1300px;
  }

  .frmr-total-expences {
    background-color: var(--color-bg-3);
  }

  .frmr-total-calc-h4,
  .frmr-total-calc-h5 {
    color: var(--color-white);
  }

  .frmr-total-sales,
  .total-revenue {
    background-color: var(--color-bg-3);
  }

  .fpd-cover-img-wrapper {
    height: auto;
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-clip: border-box;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 18%;
  }

  .fpd-other-part-container {
    max-width: 80%;
  }

  .fpd-project-detail-heading {
    color: var(--yellow);
    font-family: Livvic, sans-serif;
    font-size: 50px;
  }

  .fpd-bi-flex {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fpd-bi-info-item {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .fpd-calc-item {
    background-color: var(--color-bg-3);
  }

  .fpd-total-calc-h4,
  .fpd-total-calc-h5 {
    color: var(--color-white);
  }
}





/* ======================== Charts ========================================= */


.ba-charts {
  display: grid;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 50px;

}

.reenue-chart {
  background-color: #6d2ce6;
  background-color: #3f0658;
}

/* .MuiMarkElement-series-auto-generated-id-0{
  fill: var(--yellow) !important;
} */



.canvasjs-chart-credit {
  visibility: hidden;
}


/* ================== Fonts ========================================================= */



@font-face {
  font-family: 'Fa Solid 900';
  src: url('/fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fa regular 400';
  src: url('/fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fa Brands 400';
  src: url('/fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gothicb';
  src: url('/fonts/GOTHICB.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/Century-Gothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('/fonts/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}